@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root {
    --color-default: #fff;
    --color-themeIcon: black;
    --color-shadow: rgba(31, 38, 135, 0.3);
    --color-button: #e02ba1;
    --color-highlight: orange;
}

/* All theme variables */
[data-theme='Dark'] {
    --color-default: #252b30;
    --color-font: white;
    --color-themeIcon: white;
}

[data-theme='Light'] {
    --color-default: #ffffff;
}

[data-theme='Halloween'] {
    --color-default: #000000;
    --color-font: white;
    --color-themeIcon: white;
    --color-shadow: rgba(74, 78, 148, 0.3);

}

[data-theme='Bumblebee'] {
    --color-default: #ffd65a;
}

[data-theme='Cupcake'] {
    --color-default: #ffabc8;
    --color-button: orange;
    --color-highlight: #e02ba1;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--color-default);
}


/* Basic styles for the theme icon and dropdown */
.theme-icon {
    position: fixed;
    display: inline-block;
    cursor: pointer;
    top: 0;
    right: 0;
    font-size: 35px;
    margin-right: 2%;
    margin-top: 2%;
    z-index: 1;
    color: var(--color-themeIcon);
    cursor: pointer;
}
.theme-icon .dropdown {
    display: none; /* Initially hide the dropdown */
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 5px;
    right: 0; /* Align the dropdown to the right */
    border-radius: 5px;
    overflow: hidden;
    width: 150px;
    font-size: 15px;

}
.theme-icon .dropdown a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.theme-icon .dropdown a:hover {
    background-color: #f1f1f1;
}


.notification {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 10px;
    z-index: 1;
    padding: 1vh;
    width: 95%;
    border-radius: 10px;
    color: white;
}
#red {
    background-color: red;
}
#green {
    background-color: rgb(62, 236, 62);
}


/* CSS for the main box containing all containers */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
    min-width: 640px;
    background: rgba(255, 255, 255, 0.15);
    color: var(--color-font);
    box-shadow: 0 8px 32px 0 var(--color-shadow);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 20px;
}


/* CSS for all containers */
.element {
    display: flex;
    margin: 1vh 1vh;
    width: -webkit-fill-available;
}


/* CSs related to the heading and logo */
#title {
    display: flex;
    flex-direction: column;
    margin: 1vh 1vh;
    /* background-color: white; */
}
.heading {
    display: flex;
    justify-content: center;
    align-items: center;
}
.heading #image {
    height: 10vh;
}
.subheading {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* CSS related to all input fiels */
#input {
    display: flex;
    flex-direction: column;
}
.task {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1vh;
}
#taskname, #taskdate {
    padding-left: 7px;
    width: 45%;
}
#addtask {
    padding: 4px;
    width: 7.5%;
    font-size: 20px;
}
.enter {
    border: 1.75px solid;
    box-shadow: none;
    border-radius: 7px;
    outline: none;
}
.enter:focus {
    border-color: var(--color-highlight);
}
#description {
    resize: none;
}


/* CSS related to all buttons */
#buttons {
    display: flex;
    justify-content: space-around;
}
.actions {
    padding: 4px;
    width: 17%;
    height: auto;
    font-size: 16px;
    border-radius: 7px;
    border-style: none;
    font-weight: 450;
    cursor: pointer;
    background-color: var(--color-button);
    color: white;
}
#filter {
    width: 17%;
}
.dropdown {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown a:hover {
    background-color: #f1f1f1;
}


/* CSS related to displaying outputs */
#task-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th{
    width: 25%;
    text-align: left;
    padding: 1vh 2vh;
    background-color: silver;
    font-weight: 550;
    color: black;
}
td {
    padding: 1vh 2vh 0 2vh;
    overflow-wrap: break-word;
    word-break: break-all;
}
.descriptioncell {
    padding: 0 2vh 1vh 2vh;
    font-weight: 250;
    overflow-wrap: break-word;
    word-break: break-all;
}

#border-left {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}
#border-right {
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}
#none {
    text-align: center;
    vertical-align: middle;
}
.crudBtnContainer{
    display: flex;
    justify-content: space-around;
}
.completeButton {
    font-size: 17.5px;
    background: none;
    border: none;
    cursor: pointer;
    color: rgb(52, 195, 52);
    margin-right: 20px;
}
.deleteButton {
    font-size: 17.5px;
    background: none;
    border: none;
    cursor: pointer;
    color: red;
}

.watermark {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 40px;
    height: 40px;
    margin-right: 2%;
    margin-bottom: 2%;
}
.watermark img {
    width: 100%;
    height: auto;
}


/* Adding media queries */
@media only screen and (max-width: 650px) {
    .container {
        min-width: 80vw;
        margin: auto 7px;
    }
    #task-list{
        width: 100%;
    }
    table{
        font-size: 12px;
    }
    #border-right {
        width: fit-content;
    }
    #filter {
        width: fit-content;
    }
    #deleteAll {
        width: fit-content;
    }
}
@media only screen and (max-width: 500px) {
    #taskname, #taskdate {
        padding-left: 7px;
        width: 40%;
    }
    #addtask {
        padding: 4px;
        width: 13%;
        font-size: 20px;
    }
}
@media only screen and (max-width: 400px) {
    .container {
        min-width: 90vw
    }
}